<!-- PRODUCT SEARCH PAGE SEARCH DEFAULTS TO PRODUCT -->

<div class="search">
  <ul class="search-selector">
    <li><a href="/market_search">markets</a></li><li><a href="/vendor_search">vendors</a></li><li class="current"><a href="/product_search">products</a></li>
  </ul>

  <%= search_form_for @search_product do |f| %>
    <%= f.search_field :name_cont, placeholder: "Search Products"%>
    <%= f.submit "search", class:"search-button" %>
  <% end %>
</div>

<%= render partial: 'see_all' %>

<img src="assets/food-board.jpg" alt="Salmon meal on wooden platter" class="banner-image"/>
