<h1>Vendors#index</h1>
<article>
  <ul>
    <% @vendors.each do |vendor| %>
      <li><%= vendor.name %></li>
      <li><%= vendor.description %></li>
      <li><%= vendor.num_of_employees %></li>
      <li><%= vendor.market_id %></li>
    <% end %>
  </ul>
</article>
