<h1>Vendors#index</h1>
<article>
  <ul>
    <% @vendors.each do |vendor| %>
      <li><%= link_to vendor.name, {controller: 'vendors', action: 'show', id: vendor.id}, method: :get %></li>
      <li><%= vendor.description %></li>
      <li><%= vendor.num_of_employees %></li>
      <li><%= vendor.market_id %></li>
    <% end %>
  </ul>
</article>
