<section class="body">
  <h1>Markets#new</h1>
  <%# render partial: 'form', locals: {action_name: "create"} %>
  <%= render partial: 'form' %>
</section>

<!-- { controller: 'markets', action_name: "create", id: @market.id } -->
