/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*font-family: 'Playfair Display', serif;
font-family: 'Lato', sans-serif;
font-family: 'News Cycle', sans-serif;*/


a:link,
a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #333333;
}

nav {
  background-color: #FFF;
  border: transparent;
  border-bottom: solid #d8d8d8 1px;
  height: 5vw;
  opacity: .8;
  position: fixed;
  width: 100vw;
}

nav p {
  display: inline-block;
  height: 1.6vw;
  font: normal normal 1.6vw/1 'Playfair Display', sans-serif;
  letter-spacing: .15em;
  margin: 0 2vw;
  padding: 1.7vw 0;
  position: relative;
  text-transform: uppercase;
  width: 18.5vw;
}

nav ul {
  float: right;
  /*height: 5vw;*/
  text-align: right;
  width: 77vw;
  /*margin: 2vw 0;*/
}

nav ul li {
  display: inline-block;
  height: 1vw;
  text-align: center;
  padding: 2vw 0;
  /*width: 10vw;*/
}

nav ul li a:hover {
  background-color: #000;
  color: #FFF;
}

nav ul li a {
  border: transparent;
  border-left: solid #d8d8d8 1px;
  font: normal 300 1vw/1 'Lato', sans-serif;
  letter-spacing: .1em;
  text-transform: uppercase;
  padding: 2vw 3.5vw;
  width: 10vw;
}

img.banner-image {
  width: 100vw;
}

div.search {
  position: fixed;
  width: 50vw;
  margin: 36vh 25vw;
}

div.no-selector {
  margin: 45vh 25vw;
}

div.search-high {
  position: relative;
  margin: 0vw auto 5vw;
  background-color: #fafafa;
  border: solid #d8d8d8 1px;
}

div.search form {
  background: rgba(255,255,255,0.7);
  height: 4.25vw;
  border: transparent;
}

div.search input {
  display: inline-block;
  font: normal normal 1.5vw/1 'Lato', sans-serif;
  margin: 1.125vw;
  width: 38vw;
}

div.search ul.search-selector li {
  display: inline-block;
  margin: 0 .7vw 2vw 0;
}

div.search input.search-button,
div.search ul.search-selector li a {
  border: 1px solid transparent;
  color: white;
  font: normal normal 1.5vw/1 'Lato', sans-serif;
  text-align: center;
}

div.search ul.search-selector li a {
  background: rgba(255, 255, 255, .7);
  border: solid #d8d8d8 1px;
  padding: .75vw 1.75vw 1vw 1.75vw;
}

div.search ul.search-selector li a:link,
div.search ul.search-selector li a:visited {
  color: #000;
}



div.search ul.search-selector li a:hover,
div.search ul.search-selector li.current a:hover {
  background: #80b36e;
  border: 1px solid transparent;
}

div.search ul.search-selector li.current a {
  background-color: #61964f;
  border: 1px solid transparent;
  color: white;
  opacity: 1;
}

div.search ul.search-selector li.current a:link,
div.search ul.search-selector li.current a:visited {
  color: #FFF;
}

div.search ul.search-selector li a:hover {
  color: #FFF;
}

div.search input.search-button {
  background-color: #da392a;
  border-radius: .4vw;
  float: right;
  height: 3.25vw;
  margin: .5vw;
  text-align: center;
  opacity: 1;
  padding: .5vw;
  width: 7vw;
}

::-webkit-input-placeholder {
  color: #585858;
  font-weight: 300;
}

section.body {
  padding: 10vw 0 0 0;
  margin: 0 20vw 0 20vw;
}

div.see-all {
  margin: 80vh 40vw;
  position: fixed;
  text-align: center;
  width: 20vw;
}

div.see-all h5{
  color: #FFF;
  text-shadow: 2px 2px #404040;
  font: normal 300 1.5vw/1 'Lato', sans-serif;
  letter-spacing: .15em;
}


div.see-all ul {
  position: relative;
}

div.see-all ul li {
  background-color: #FFF;
  border-radius: 100%;
  height: 3vw;
  opacity: .7;
  text-align: center;
  width: 3vw;

}



h3 {
  display: inline-block;
  font: normal normal 1.75vw/1.75vw 'Josefin Sans', sans-serif;
  letter-spacing: .15em;
  text-transform: uppercase
}

article.entity-display img {
  border-radius: .5vw;
  display: inline-block;
  height: auto;
  width: 15vw;
}

article.entity-display img.vendor {
  background-color: #61964f;
}

article.entity-display img.market {
  background-color: #71416a;
}

article.entity-display ul {
  vertical-align: top;
  display: inline-block;
  padding: 0 0 0 2vw;
}

article.entity-display ul,
article.entity-display ul.address-block {
  width: 40vw;
}

h4 {
  font: normal 300 1vw/1 'Lato', sans-serif;
  letter-spacing: .15em;
  padding: .5vw 0 3vw 0;
  text-transform: uppercase;
}

article.entity-display ul.address-block li:first-of-type {
  margin: 3vw 0 0 0;
}

article.entity-display ul.address-block li {
  font: normal 300 1vw/1 'Lato', sans-serif;
  letter-spacing: .15em;
  padding: .5vw 0 0 0;
  text-transform: uppercase;
}

article.entity-display button {
  background-color: red;
  width: 10vw;
  height: 5vw;
}

div.list-break {
  border-bottom: solid #d8d8d8 1px;
  height: 3vw;
  margin: 0 0 3vw 0;
}
