/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


a:link,
a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #d8d8d8;
}

nav {
  background-color: #FFF;
  border-bottom: solid #d8d8d8 1px;
  height: 5vw;
  position: fixed;
  width: 100vw;
}

nav p {
  display: inline-block;
  margin: 2vw;
  text-transform: uppercase;
  width: 20vw;
}

nav ul {
  text-align: right;
  display: inline-block;
  margin: 2vw;
  width: 71.5vw;
}

nav ul li {
  display: inline-block;
  margin: 0 0 0 2vw;
  text-transform: uppercase;
}
